logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
.sbtserver/connections/master.log
.sbtserver/connections/play-fork-run-9cf30e9c-3603-4129-afb7-a6af78148939.log
.sbtserver/master.log
.sbtserver/previous.log
activator.bat
latex/database.aux
latex/database.log
latex/database.pdf
latex/database.synctex.gz
latex/database.toc
latex/resume.cls
latex/texput.log
project/.sbtserver
project/.sbtserver.lock
*.trace.db
.java-version


/node/build/*
/public/javascripts/app.js
/public/generated/*
