html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px;
  margin: 0px;
  background-color:#f5f5f5 !important;
  background:red;
}

.content{
	margin-top:25px;
	margin-bottom:25px;
}

@media only screen and (max-width: 768px) {
	.content{
		margin: 25px 26px 25px 26px;
	}
}


@media only screen and (min-width: 768px) {
	.main{
		/*margin-left: 256px;*/
	}
	.content{
		margin-left: 56px;
		margin-right: 56px;
	}
}


.p_wrap {
    white-space: pre-line;
}

.issue {
	background: #444 none repeat scroll 0 0;
	border-radius: 3px;
	cursor: pointer;
	line-height: 20px;
	margin-right: 4px;
	margin-bottom: 2px;
}

.issue .issuelabel {
	border-radius: 3px;
	color: #222;
	display: inline-block;
	min-width: 53px;
	padding: 0 5px;
}

.issue .issuelabel.error {
	background-color: #f7977a;
}

.issue .issuelabel.info {
	background-color: #F5D04C;
}

.issue .issuelabel.secerror {
	background-color: red;
}

.issue .message {
	color: #eee;
	padding-left: 5px;
}
.errorHighlight {
	position: absolute;
	z-index: 20;
	background-color: #F4B9B7;
}
.issuesCount{
	margin-bottom: 5px;
}
.analysisResultTitle{
	margin: 10px 0;
}
.analysisResultBody{
	margin-left:10px;
}

.infer-step{
	border-radius: 2px;
}

.infer-step-pending{
	border: 2px solid gray;
}
.infer-step-done{
	border: 2px solid green;
}
.infer-step-failed{
	border: 2px solid red;
}


