@(prod: Int, indexModel: IndexModel)

@import java.net._

<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>@(indexModel.pageTitle)</title>
  <meta name="description" content="@(indexModel.metaContent)">
    <meta name="keywords" content="type-based declassification, relaxed noninterference, polymorphic relaxed noninterference"/>

  <!-- Use minimum-scale=1 to enable GPU rasterization -->
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, user-scalable=0, maximum-scale=1, minimum-scale=1"
  >
  <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/flexboxgrid.min.css")">

  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({ TeX: { extensions: ["color.js", "action.js"] }});
  </script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS-MML_HTMLorMML' async></script>
</head>

<body>
  <div style="display:none">
    \[
    \newcommand{\Int}{\mathsf{Int}}
    \]
  </div>
  <div id="app"></div>

  <!-- This script adds the Roboto font to our project. For more detail go to this site:  http://www.google.com/fonts#UsePlace:use/Collection:Roboto:400,300,500 -->
  <script>
    var WebFontConfig = {
      google: { families: [ 'Roboto:400,300,500:latin' ] }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>
  @if(prod==1){
    <script src="@routes.Assets.versioned("/generated/app.js")"></script>
  }else{
    <script src="http://@{InetAddress.getLocalHost.getHostAddress}:3000/app.js"></script>
    @{/*<script src="http://localhost:3000/app.js"></script>*/}
  }

</body>

</html>